*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.mainSection{
    width: 100%;
    height: 1300vh;
    background-image: url(https://michalsnik.github.io/aos/img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.wrapper{
    width: 100%;
    height: 1300vh;
    background-color: rgba(56, 34, 145, 0.7);
}
.heading1{
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-top: 6rem;
}
.heading1 img{
    position: absolute;
    width: 7%;
    bottom: 36rem;
    left: 72.5rem;
    opacity: 0;
    animation: emoji 0.8s ease-in-out 2s;
    animation-fill-mode: forwards;
}
@keyframes emoji {
    0%{
        opacity: 0;
        transform: scale(1.1, 1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1, 1);
    }
}
.heading1 h1{
    font-size: 4.5rem;
    animation: fontsize 0.7s ease-out alternate;
}
@keyframes fontsize {
    from{
        font-size: 3rem;
    }
    to{
        font-size: 4.5rem;
    }
}
.heading1 h2{
    opacity: 0;
    animation: headH2 0.7s ease-out 1s ;
    animation-fill-mode: forwards;
}
@keyframes headH2 {
    from{
        opacity: 0;
        transform: translateY(7rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.midSection1{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: midSection 1s ease-out 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.midSection1 p{
    font-size: 1.8rem;
}
@keyframes midSection {
    from{
        opacity: 0;
        transform: translateY(7rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.chevron{
    color: blue;
    transform: rotateY(90deg);
    animation: downArrow 1.5s ease-in-out 1.5s infinite alternate;
}
@keyframes downArrow {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(1rem);
    }
}
.lowSection1{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
hr{
    border: 1px solid white;
    width: 80%;
}
.lowSection1 p{
    font-size: 3.5rem;
}
.section2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.childs{
    height: 100vh;
    width: 50%;
}
.singleCard{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent1Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-left: 6rem;
    margin-top: 10rem;
    opacity: 0;
}
.parent1Child.aos-animate{
    animation: Fade1 1.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Fade1 {
    0%{
        transform: translateY(7rem);
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}
.parent2Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-left: 6rem;
    margin-top: 20rem;
    opacity: 0;
}
.parent2Child.aos-animate{
    animation: Fade2 1.5s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes Fade2 {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        transform: translateY(8rem);
        opacity: 1;
    }
    100%{
        transform: translateY(7rem);
        opacity: 1;
    }
}
.section3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent3Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 5rem;
    margin-left: 6rem;
    opacity: 0;
}
.parent3Child.aos-animate{
    animation: Fade3 1.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Fade3 {
    0%{
        transform: translateX(-5rem);
        opacity: 0;
    }
    50%{
        opacity: 0.7;
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}
.parent4Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-left: 6rem;
    margin-top: 25rem;
    opacity: 0;
}
.parent4Child.aos-animate{
    animation: Fade4 1.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Fade4 {
    0%{
        transform: translateX(20rem);
        opacity: 0;
    }
    80%{
        opacity: 0.7;
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}
.section4{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent5Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 15rem;
    margin-left: 0rem;
    opacity: 0;
}
.parent5Child.aos-animate{
    animation: Fade5 1.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Fade5 {
    0%{
        transform: translate(0rem, 0rem);
        opacity: 0;
    }
    100%{
        opacity: 0.7;
        transform: translate(6.5rem, -10rem);
        opacity: 1;
    }
}
.parent6Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 35rem;
    margin-left: 11.5rem;
}
.parent6Child.aos-animate{
    animation: Fade6 1.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Fade6 {
    0%{
        transform: translate(0rem, 0rem);
        opacity: 0;
    }
    100%{
        opacity: 0.7;
        transform: translate(-6.5rem, -10rem);
        opacity: 1;
    }
}
.section5{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent7Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 0rem;
    margin-left: 0rem;
    opacity: 0;
}
.parent7Child.aos-animate{
    animation: Fade7 1.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Fade7 {
    0%{
        transform: translate(0rem, 0rem);
        opacity: 0;
    }
    100%{
        opacity: 0.7;
        transform: translate(6.5rem, 6.5rem);
        opacity: 1;
    }
}
.parent8Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 22rem;
    margin-left: 11.8rem;
    opacity: 0;
}
.parent8Child.aos-animate{
    animation: Fade8 1.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Fade8 {
    0%{
        transform: translate(0rem, 0rem);
        opacity: 0;
    }
    100%{
        opacity: 0.7;
        transform: translate(-6.5rem, 6.5rem);
        opacity: 1;
    }
}
.lowSection2{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.lowSection2 p{
    font-size: 3.5rem;
}
.section6{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent9Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 8rem;
    margin-left: 6rem;
}
.parent9Child.aos-animate{
    animation: Flip1 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Flip1 {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg) 
    }
}
.parent2{
    perspective: 800px;
}
.parent10Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 28rem;
    margin-left: 6rem;
}
.parent10Child.aos-animate{
    animation: Flip2 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Flip2 {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(-180deg);
    }
}
.section7{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent11Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 8rem;
    margin-left: 6rem;
}
.parent11Child.aos-animate{
    animation: Flip3 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Flip3 {
    0%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg) 
    }
}
.parent12Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 28rem;
    margin-left: 6rem;
}
.parent12Child.aos-animate{
    animation: Flip4 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Flip4 {
    0%{
        transform: rotateX(-90deg);
    }
    100%{
        transform: rotateX(0deg) 
    }
}
.lowSection3{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.lowSection3 p{
    font-size: 3.5rem;
}
.section8{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent13Child{
    background-color: black;
    width: 70%;
    height: 30vh;
    margin-top: 5rem;
    margin-left: 6rem;
}
.parent13Child.aos-animate{
    animation: Zoom1 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom1 {
    0%{
        transform: scale(1, 1);
    }
    90%{
        
        transform: scale(1.1, 1.1);
    }
    100%{
        transform: scale(1, 1);
    }
}
.parent14Child{
    background-color: black;
    width: 70%;
    height: 32vh;
    margin-top: 28rem;
    margin-left: 6rem;
}
.parent14Child.aos-animate{
    animation: Zoom2 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom2 {
    0%{
        transform: scale(1, 1) translateY(0rem);
    }
    90%{  
        transform: scale(1.1, 1.1) translateY(-4rem);
    }
    100%{
        transform: scale(1, 1) translateY(-3rem);
    }
}
.section9{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent15Child{
    background-color: black;
    width: 70%;
    height: 32vh;
    margin-top: 3rem;
    margin-left: 6rem;
}
.parent15Child.aos-animate{
    animation: Zoom3 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom3 {
    0%{
        transform: scale(1, 1) translateY(0rem);
    }
    90%{  
        transform: scale(1.1, 1.1) translateY(4rem);
    }
    100%{
        transform: scale(1, 1) translateY(3rem);
    }
}
.parent16Child{
    background-color: black;
    width: 70%;
    height: 32vh;
    margin-top: 25rem;
    margin-left: 11.5rem;
}
.parent16Child.aos-animate{
    animation: Zoom4 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom4 {
    0%{
        transform: scale(1, 1) translateX(0rem);
    }
    90%{  
        transform: scale(1.1, 1.1) translateX(-4rem);
    }
    100%{
        transform: scale(1, 1) translateX(-3.5rem);
    }
}
.section10{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent17Child{
    background-color: black;
    width: 70%;
    height: 32vh;
    margin-top: 3rem;
    margin-left: 5rem;
}
.parent17Child.aos-animate{
    animation: Zoom5 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom5 {
    0%{
        transform: scale(1, 1) translateX(0rem);
    }
    90%{  
        transform: scale(1.1, 1.1) translateX(4rem);
    }
    100%{
        transform: scale(1, 1) translateX(3.5rem);
    }
}
.parent18Child{
    background-color: black;
    width: 70%;
    height: 32vh;
    margin-top: 25rem;
    margin-left: 5rem;
}
.parent18Child.aos-animate{
    animation: Zoom6 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom6 {
    0%{
        transform: scale(1.1, 1.1);
    }
    90%{  
        transform: scale(0.9, 0.9);
    }
    100%{
        transform: scale(1, 1);
    }
}
.section11{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent19Child{
    background-color: black;
    width: 70%;
    height: 32vh;
    margin-top: 5rem;
    margin-left: 5rem;
}
.parent19Child.aos-animate{
    animation: Zoom7 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom7 {
    0%{
        transform: scale(1.1, 1.1) translateY(0rem);
    }
    90%{  
        transform: scale(0.9, 0.9) translateY(-3rem);
    }
    100%{
        transform: scale(1, 1) translateY(0rem);
    }
}
.parent20Child{
    background-color: black;
    width: 70%;
    height: 32vh;
    margin-top: 25rem;
    margin-left: 5rem;
}
.parent20Child.aos-animate{
    animation: Zoom8 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom8 {
    0%{
        transform: scale(1.1, 1.1) translateY(0rem);
    }
    90%{  
        transform: scale(0.9, 0.9) translateY(3rem);
    }
    100%{
        transform: scale(1, 1) translateY(0rem);
    }
}
.section12{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.parent21Child{
    background-color: black;
    width: 70%;
    height: 32vh;
    margin-top: 5rem;
    margin-left: 5rem;
}
.parent21Child.aos-animate{
    animation: Zoom9 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom9 {
    0%{
        transform: scale(1.1, 1.1) translateX(0rem);
    }
    90%{  
        transform: scale(0.9, 0.9) translateX(3rem);
    }
    100%{
        transform: scale(1, 1) translateX(0rem);
    }
}
.parent22Child{
    background-color: black;
    width: 70%;
    height: 32vh;
    margin-top: 25rem;
    margin-left: 5rem;
    transition: all 1s ease-out;
    transform: scale(1.1, 1.1) translateX(0rem);
}
.parent22Child.aos-animate{
    animation: Zoom10 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes Zoom10 {
    0%{
        transform: scale(1.1, 1.1) translateX(0rem);
    }
    90%{  
        transform: scale(0.9, 0.9) translateX(-3rem);
    }
    100%{
        transform: scale(1, 1) translateX(0rem);
    }
}
.end{
    width: 100%;
    height: 30vh;
    background-color: rgb(0, 0, 57);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}






