.lab{
    background-color: rgb(0, 0, 198);
    color: white;
}
.sports{
    color: white;
    background-color: green;
}
.librarySeminar{
    color: white;
    background-color: rgb(198, 198, 0);
}
.gray{
    color: white;
    background-color: rgb(45, 51, 54);
}
.gray2{
    color: white;
    background-color: gray;
}














