@import "tailwindcss";

@layer base {
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  nav {
    font-family: "Fraunces", serif;
  }
  .fraunces{
    font-family: "Fraunces", serif;
  }
  .urdu{
    font-family: "Noto Nastaliq Urdu", serif;
  }
  .ham {
    background-color: black;
    width: 23px;
    height: 2px;
    margin: 5px 0;
  }
  .section1 h1 {
    font-family: "Fraunces", serif;
  }
  .text-moss\/80 {
    color: rgb(74 93 69 / 0.8);
  }
  .button1 {
    font-family: "Work Sans", sans-serif;
  }
  .firstTransition{
    animation: FadeUp 0.8s ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes FadeUp {
    0%{
        transform: translateY(2rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}
    .firstPic{
        opacity: 0;
    }
    .firstPic.aos-animate{
        animation: FadeUp 0.8s ease-out;
        animation-fill-mode: forwards;
    }
@keyframes FadeUp {
    0%{
        transform: translateY(2rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}
.pic{
    height: 37vh;
    width: 47%;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
}
.secondPara{
    opacity: 0;
}
.secondPara.aos-animate{
        animation: FadeUp2 0.8s ease-out 0.1s;
        animation-fill-mode: forwards;
    }
@keyframes FadeUp2 {
    0%{
        transform: translateY(3rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}
.picsContainer{
        opacity: 0;
    }
.picsContainer.aos-animate{
        animation: FadeUp 0.8s ease-out 0.1s;
        animation-fill-mode: forwards;
    }
@keyframes FadeUp {
    0%{
        transform: translateY(2rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}



}